body,button,table,input,textarea,form,label {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0em 1em 0em 1em;
}

form {
  display: inline;
}

label {
  font-style: italic;
}

.textOut {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  overflow-y: scroll;
  resize: none;
  width: 90%;
  max-width: 900px;
}

.inputAndSubmit {
  position: relative;
  top: -0.5em;
}

.textIn {
  width: 60%;
  max-width: 700px;
}

.mainButtonClass {
  display: inline;
}

.supButtonArea {
  position: relative;
  top: -0.5em;
  width: 60%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clearLinkArea {
  position: relative;
  width: 90%;
  max-width: 900px;
  text-align: left;
  top: 6em;
}

a {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
