body,button,table,input,textarea,form,label {
  font-family: 'Roboto', sans-serif;
}

.mainBodyClass {
  background-color: #DDDDDD;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.docAreaClass {
  background-color: white;
  margin: 12px;
  width: 100%;
  max-width: 1000px;
}

.headerTextClass {
  margin: 12px;
  font-size: x-large;
  font-weight: bold;
  display: block;
  position: relative;
  animation-name: headerAnim;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.subHeaderTextClass {
  display: block;
  position: relative;
  margin: 12px;
  padding: 12px 0 12px 0;
  border-top: 3px solid #AAAAAA;
}

.mainAreaClass {
  display: block;
  position: relative;
  margin: 12px;
}

a {
  font-size: large;
}

@keyframes headerAnim {
  0% {
    left: 10em;
    color: rgba(0, 0, 0, 0);
  }
  100% {
    left: 0;
    color: rgba(0, 0, 0, 1);
  }
}
