body,button,table,input,textarea,form,label {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #FFC426;
  padding: 0;
  margin: 1em;
}

.titleSpace {
  padding: 1em;
}

.mainAreaBox {
  background-color: #FF9B34;
  font-size: 120%;
  border-radius: 0.5em;
  box-shadow: 1em 1em 0.5em rgba(0,0,0,0.5);
  padding: 1em;
  width: 70%;
}

.myShape1Class {
  display: block;
  background-color: #FF5326;
  width: 20em;
  height: 20em;
  position: relative;
  top: 1em;
  border-radius: 50%;
  text-align: center;
  line-height: 20em;
}

.myShape1Class:hover {
  transform: scale(1.1);
}