body,input,textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: black;
}

#navbar {
  color: white;
  background-color: #cc4400;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  z-index: 9999;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 1);
}

.nav-link {
  color: white;
  background-color: #440066;
  text-decoration: none;
  font-size: larger;
  display: block;
  padding: 1.5em 1em 0 1em;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: none;
}

.nav-link:hover {
  color: cyan;
}

.welcome-section {
  background-color: #300000;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 20;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 1);
}

#welcome-header {
  margin: 0;
  color: white;
  font-size: 3em;
  padding: calc(50vh - 1em) 0 0 0;
}

#welcome-subtitle {
  color: white;
  font-style: italic;
  font-weight: normal;
  font-size: 2em;
  margin-top: 0.5em;
}

h2 {
  margin-top: 0;
}

.projects-section {
  display: block;
  position: relative;
  width: 100%;
  padding: 36px 0 36px 0;
  background-color: #004444;
  color: white;
  text-align: center;
  z-index: 19;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 1);
}

.project-tile {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 8px 32px 8px 32px;
}

.project-img {
  display: inline-block;
  height: 200px;
  margin: 1em;
}

.project-label {
  font-size: larger;
  margin: 0;
  padding: 0 0 1em 0;
}

.contact-section {
  background-color: #449;
  z-index: 18;
  width: 100%;
  height: 15em;
  text-align: center;
  color: white;
}

#contact-header {
  display: inline-block;
  position: relative;
  top: 1.5em;
}

.contact-link {
  display: inline-block;
  position: relative;
  top: 3.33em;
  color: white;
  text-decoration: underline;
  font-size: larger;
}

.contact-link:hover {
  color: yellow;
}

@media (min-width: 132vh) {
  body {
    background-color: #000001;
  }
  .nav-link {
    padding: 1.5em 4em 0 4em;
  }
  .project-img {
    height: 300px;
  }
}
